
/** IMAGES OF ATELIER **/
.contimg {
    row-gap: 10px;column-gap: 10px;
}

div.ateliers-images {
    background-size: 800px;
        background-position-x: center;
    /* initiele waarde */
}

div.ateliers-images:hover {
    background-size: 1000px;

    transition: background-size 0.5s ease-in;
}

/** IMAGES END **/





/** MEDIA Q**/


@media only screen and (max-width: 1440px) {
    section {
      max-width: 95%;
    }
  }
  
  @media only screen and (max-width: 980px) {
  
  
  
    input[type=checkbox] {
      position: absolute;
      top: -9999px;
      left: -9999px;
      background: none;
    }
  
    input[type=checkbox]:fous {
      background: none;
    }
  
    label {
      float: right;
      padding: 8px 0px;
      display: inline-block;
      cursor: pointer;
    }
  
    input[type=checkbox]:checked~nav {
      display: block;
    }
  
    nav {
      display: none;
      position: absolute;
      right: 0px;
      top: 53px;
      background-color: #002e5b;
      padding: 0px;
      z-index: 99;
    }
  
    nav ul {
      width: auto;
    }
  
    nav ul li {
      float: none;
      padding: 0px;
      width: 100%;
      display: table;
    }
  
    nav ul li a {
      color: #FFF;
      font-size: 15px;
      padding: 10px 20px;
      display: block;
      border-bottom: 1px solid rgba(225, 225, 225, 0.1);
    }
  
    nav ul li a i {
      color: #fde428;
      padding-right: 13px;
    }
  
  }
  
  @media only screen and (max-width: 980px) {
    .content {
      width: 100%;
      
    }
  
  
    .content img {
      display: none;
    }
  
    main {
      width: 100%;
      align-items: stretch;
      display: flex;
      align-content: center;
      flex-wrap: wrap;
      flex-direction: row-reverse;
      justify-content: space-between
    }
  
    .content2 {
      display: flex;
      flex-wrap: wrap;
    }
  
    .content2 img {
      box-shadow: #000000;
      box-shadow: 5px 7px 7px 5px;
      margin: 20px;
      ;
    }
  
    .beforefoot {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .platforms {
      display: flex;
      padding-top: 20px;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-around;
      align-items: baseline;
    }
  
    .platforms .pl1 {
      margin: 10px;
    }
  
    .platforms .pl2 {
      margin: 10px;
    }
  
    .platforms .pl3 {
      margin: 10px;
    }
  }
  
  @media only screen and (max-width: 568px) {
    h1 {
      padding: 25px 0px;
    }
  
    h1 span {
      display: block;
    }
  }
  
  @media only screen and (max-width: 480px) {
    section {
      max-width: 90%;
    }
  }
  
  @media only screen and (max-width: 360px) {
    h1 {
      font-size: 20px;
    }
  
    label {
      padding: 5px 0px;
    }
  
    nav {
      top: 47px;
    }
  }
  
  @media only screen and (max-width: 320px) {
    h1 {
      padding: 20px 0px;
    }
  
  }

  /** END OF MEDIA **/



  /** HEADER **/

  header {
    align-items: center;
    color: #ccc;
    position: relative;
  }
  
  header h1 {
    margin-bottom: 2rem;
  }
  
  header h1 a {
    font-weight: normal;
    text-decoration: none;
  }
  
  header a {
    color: rgb(0, 0, 0);
    font-family: HK_Grotesk, arial, sans-serif;
    font-size: xx-large;
    padding: 10px;
  
    border-radius: 10px;
  }
  
  .header_login a:hover {
    color: rgba(0, 0, 0, 0.527);
  }
  
  /** HEADER END **/


 


  /** FOOTER **/

  footer {
    background-color: rgba(157, 157, 157, 0.81);
    color: #eee;
    font-size: smaller;
    padding: 1rem;
    text-align: center;
  }
  
  footer {
    display: table;
    width: 100%;
    display: table;
  position: fixed;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 40px;
  }
  
  footer a {
    color: #ccc;
  }
  
  
  footer ul {
    margin: 1rem 0;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer li {
    display: inline-block;
  }
  
  footer ul a {
    display: inline;
    line-height: 2.4rem;
    padding: 0.2rem 0.5rem;
  }
  
  footer li+li:before {
    content: ' | ';
    color: #999;
  }

  