* {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  outline: none;
}

section {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  display: table;
  position: relative;
}

h1 {
  margin: 0px auto;
  display: table;
  font-size: 26px;
  padding: 40px 0px;
  color: #002e5b;
  text-align: center;
}

h1 span {
  font-weight: 500;
}



/** NAVIGATION **/



header {
  width: 100%;
  display: table;
  background-color: rgb(238 228 207);
}

#logo {
  float: left;
  width: 50px;
  height: 50px;


}

nav {
  width: auto;
  float: right;
}

nav ul {
  display: table;
  float: right;
}

nav ul li {
  float: left;
}

nav ul li:last-child {
  padding-right: 0px;
}

nav ul li a {
  color: #002e5b;
  font-size: 18px;
  display: inline-block;
  transition: all 0.5s ease 0s;
}

nav ul li a:hover {
  background-color: #002e5b;
  color: #fde428;
  transition: all 0.5s ease 0s;
}

nav ul li a:hover i {
  color: #fde428;
  transition: all 0.5s ease 0s;
}

nav ul li a i {
  padding-right: 10px;
  color: #002e5b;
  transition: all 0.5s ease 0s;
}

.toggle-menu ul {
  display: table;
  width: 25px;
}

.toggle-menu ul li {
  width: 100%;
  height: 3px;
  background-color: #002e5b;
  margin-bottom: 4px;
}

.toggle-menu ul li:last-child {
  margin-bottom: 0px;
}

input[type=checkbox],
label {
  display: none;
}

.content {
  display: table;
  margin-bottom: 60px;
  width: 100%;

}


.content p {
  font-size: 100px;
  line-height: 100px;
  color: white;
  text-align: center;
}



html {
  font-size: 62.5%;
  /* 1 rem is nu 10px */
}

* {
  box-sizing: border-box;
  /* corrigeer het box model */
  margin: 0;
  /* wis verschillen tussen browsers uit */
  padding: 0;
  /* wis verschillen tussen browsers uit */
}


/* Header



/* search function (scrapped) 


.search-box {
  position: absolute;
  /* top: 50%; 
  /* left: 50%; 
  transform: translate(-50%, -50%);
  background: #eee;
  height: 60px;
  border-radius: 50px;
  display: flex;
  padding: 10px;
}


.search-input {
  outline: none;
  border: none;
  background: none;
  width: 0;
  padding: 0;
  color: black;
  float: left;
  font-size: 16px;
  transition: .3s;
  line-height: 40px;
  font-weight: bold;
}

.search-input::placeholder {
  color: #000000;
  font-weight: bold;
}


.search-btn {
  color: black;
  
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: .3s;
}

.search-input:focus,
.search-input:not(:placeholder-shown) {
  width: 240px;
  padding: 0 6px;
}

.search-box:hover>.search-input {
  width: 240px;
  padding: 0 6px;
}

.search-box:hover>.search-btn,
.search-input:focus+.search-btn,
.search-input:not(:placeholder-shown)+.search-btn {
  background: #fff;
  color: #cd595a;
}
**/


/*          AYAYA AYAYA
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣬⡛⣿⣿⣿⣯⢻ 
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⢻⣿⣿⢟⣻⣿⣿⣿⣿⣿⣿⣮⡻⣿⣿⣧ 
⣿⣿⣿⣿⣿⢻⣿⣿⣿⣿⣿⣿⣆⠻⡫⣢⠿⣿⣿⣿⣿⣿⣿⣿⣷⣜⢻⣿ 
⣿⣿⡏⣿⣿⣨⣝⠿⣿⣿⣿⣿⣿⢕⠸⣛⣩⣥⣄⣩⢝⣛⡿⠿⣿⣿⣆⢝ 
⣿⣿⢡⣸⣿⣏⣿⣿⣶⣯⣙⠫⢺⣿⣷⡈⣿⣿⣿⣿⡿⠿⢿⣟⣒⣋⣙⠊ 
⣿⡏⡿⣛⣍⢿⣮⣿⣿⣿⣿⣿⣿⣿⣶⣶⣶⣶⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿ 
⣿⢱⣾⣿⣿⣿⣝⡮⡻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⣋⣻⣿⣿⣿⣿ 
⢿⢸⣿⣿⣿⣿⣿⣿⣷⣽⣿⣿⣿⣿⣿⣿⣿⡕⣡⣴⣶⣿⣿⣿⡟⣿⣿⣿ 
⣦⡸⣿⣿⣿⣿⣿⣿⡛⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⣿⣿⣿ 
⢛⠷⡹⣿⠋⣉⣠⣤⣶⣶⣿⣿⣿⣿⣿⣿⡿⠿⢿⣿⣿⣿⣿⣿⣷⢹⣿⣿ 
⣷⡝⣿⡞⣿⣿⣿⣿⣿⣿⣿⣿⡟⠋⠁⣠⣤⣤⣦⣽⣿⣿⣿⡿⠋⠘⣿⣿ 
⣿⣿⡹⣿⡼⣿⣿⣿⣿⣿⣿⣿⣧⡰⣿⣿⣿⣿⣿⣹⡿⠟⠉⡀⠄⠄⢿⣿ 
⣿⣿⣿⣽⣿⣼⣛⠿⠿⣿⣿⣿⣿⣿⣯⣿⠿⢟⣻⡽⢚⣤⡞⠄⠄⠄⢸⣿ */


section {
  margin: 1rem;
}

/** CONTENT OF PAGE **/
.content {
  justify-content: center;
  display: flex;
  flex-direction: row;
  text-align: right;
  align-items: flex-start;
  font-size: 6w;
  padding: 20px;
}

.content p {
  padding: 6rem;
}

.content2 {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  font-size: 90px;
  padding: 20px;
  transition: transform 0.5s;

}

.content2 img {
  transition: transform 0.5s;
  box-shadow: #000000;
  box-shadow: 5px 7px 7px 5px;
  margin: 20px;
}

.content2 img:hover {
  transform: scale(1.2);
}


.beforefoot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.beforefoot img:hover {
  transform: scale(1.2);
}

.beforefoot img {
  transition: transform 0.5s;
  box-shadow: 5px 7px 7px 5px;
}




.bg-right {
  background-color: #a93f3e;
  position: fixed;
  inset: 0 0 0 50%;
  z-index: -1;
}

.leftside {
  background-color: #373b4f;
  position: fixed;
  z-index: -1;
  inset: 0 50% 0 0;

}